.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titlebox {
  color: #2f3542;
  background-color: #f1f2f6;
  border: 2px solid #2f3542;
  height: 1060px;
  margin: 30px;
}
