@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

.title{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 50px;
    top: 10px;
    position: relative;
    text-decoration: underline solid 2px;
    text-underline-offset: 20px;
}