@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.listbox {
    color: #2f3542;
    background-color: #ced6e0;
    border: 1px solid #2f3542;
    height: 10vh;
    margin: 30px;
    width: 97%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }


.listbox:hover {
  color: #5352ed;
}